body{
    background: black;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
#mycanvas {
    width: 100%;
}

span {
    color: white;
    font-size: 12px;
    display: block;
    position: absolute;
    bottom: 10px;
    position: absolute;
    width: 90%;
    left: 50%;
    /* top: 45%;
    bottom: auto;
    right: auto; */
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  span a {
    color: red;
    text-decoration: none;
  }
  span .fa{
    color:red;
    margin: 0 3px;
    font-size: 10px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
  }
  
    @-webkit-keyframes pound {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes pound {
    to {
      transform: scale(1.1);
    }
  }

